<form method="get" action="" id="search">
   <input type="text" id="search-text" name="search" placeholder="Buscar preguntas que contengan...">
   <input type="submit" id="search-button" value="Buscar">
</form>

<% var i; for (i=0; i < quizes.length; i++) { %>
<article class="question">
   <h3><sup>[<%= quizes[i].categoria %>]</sup><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></h3>
   <% if(session.user){ %>
   <form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
      <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
         Borrar
      </button>
   </form>
   <a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a>
   <% } %>
</article>
<% } %>

<% if(session.user){ %>
<article class="question"><a href="/quizes/new"><button type="button">Crear nueva pregunta</button></a></article>
<% } %>
